.common label {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-weight: bold;
  font-size: 15px;
  font-style: italic;
}

.common-product-card {
  border: 1px solid grey;
  border-radius: 10px;
  width: 250px;
  margin: 0 auto;
  margin-top: 10px;
  background: linear-gradient(
    to left bottom,
    rgb(251 126 193 / 75%),
    rgb(255 193 7 / 30%)
  );
}
